<section id="intro" class="main">

<h1>Your order</h1>

<h3>Your data</h3>

<p><%= @order.name %> <%= @order.surname %></p>
<p><%= @order.street %> <%= @order.number %></p>
<p><%= @order.city %></p>
<p>Phone: <%= @order.phone %></p>

<h2>Food list:</h2>
<table>
<% @order.order_food.each do |item| %>
    <tr><td><%= item.food_name %></td></tr>
<% end %>
</table>

<%= link_to 'Back', root_url  , class: "button big" %>
</section>