<%= form_for(food) do |f| %>
  <% if food.errors.any? %>
  <% food.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :food_type %>
    <%= f.select :food_type, options_for_select([
        ["Starters"],
        ["Main Courses"], 
        ["Soups"],
        ["Desserts"],
        ["Beverages"],
        ["Beers"]
      ], food.food_type) %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
