<section id="intro" class="main">
<h1>Login</h1>
<%= form_tag("/site/adm", method: "GET") do %>

<div class="field">
    <%= label_tag(:login, "Login") %>
    <%= text_field_tag :login %>
  </div>

  <div class="field">
    <%= label_tag(:login, "Password") %>
    <%= password_field_tag :password %>
  </div>

 <div class="actions">
    <%=  submit_tag("Login") %>
  </div>
<% end %>
</section>