<section id="intro" class="main">
<h3>Menu</h3>              
<table>
  <tr>
    <th colspan="2" style= "background-color: #7a6652;color: #fff;">Starters</th>
  </tr>
    <% @starters.each do |food| %>
    <tr>
    <td><%= food.name %></td>
    <td><%= food.price %> Kc</td>
    </tr>
    <% end %>
    <tr>
    <th colspan="2" style= "background-color: #7a6652;color: #fff;">Soups</th>
  </tr>
    <% @soups.each do |food| %>
    <tr>
    <td><%= food.name %></td>
    <td><%= food.price %> Kc</td>
    </tr>
    <% end %>
    <tr>
    <th colspan="2" style= "background-color: #7a6652;color: #fff;">Main Courses</th>
  </tr>
    <% @courses.each do |food| %>
    <tr>
    <td><%= food.name %></td>
    <td><%= food.price %> Kc</td>
    </tr>
    <% end %>
    <tr>
    <th colspan="2" style= "background-color: #7a6652;color: #fff;">Desserts</th>
  </tr>
    <% @desserts.each do |food| %>
    <tr>
    <td><%= food.name %></td>
    <td><%= food.price %> Kc</td>
    </tr>
    <% end %>
    <tr>
    <th colspan="2" style= "background-color: #7a6652;color: #fff;">Beverages</th>
  </tr>
    <% @beverages.each do |food| %>
    <tr>
    <td><%= food.name %></td>
    <td><%= food.price %> Kc</td>
    </tr>
    <% end %>
    <tr>
    <th colspan="2" style= "background-color: #7a6652;color: #fff;">Beers</th>
  </tr>
    <% @beers.each do |food| %>
    <tr>
    <td><%= food.name %></td>
    <td><%= food.price %> Kc</td>
    </tr>
    <% end %> 

  </table>
  <%= link_to 'Back', root_url, class: "button big"%>
</section>